*{
    font-family: 'Work Sans', sans-serif;
    margin:0;
  

}

.banner{
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    /*correccion:hay q darle width y height*/
    height: 600px;
	margin-top: 50px;
    color: white;
}


.banner > img{
    /* width: 100%; */
    /* el trabaja con height*/
    height: 50%;
	object-fit: cover;
}

.text-container{
    /*correccion*/
    height: 50%;
	background-color: navy;;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	box-sizing: border-box;
	text-align: center;


    /* Mis reglas: padding: 5%;
    width: 90%;
    text-align: center;
    background-color: navy;
    color: whitesmoke;
    margin:0;
    box-sizing: border-box; */
  
}

/*media 400 correccion*/
@media all and (min-width: 400px) {
	.banner {
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media all and (min-width: 768px) {

.banner{
    flex-direction: row;

    /*añade en correciob*/
    width: 768px;
    height: 300px;
}

.banner > img, .text-container {
    height: initial;
    width:50%;
}

/* .text-container{
    width: 50%;

} */

.banner:nth-child(2n){
    flex-direction: row-reverse;
}
}



@media all and (min-width: 1024px){

    .banner {
        max-width: 1200px;
        margin: 5% auto;
    }

}


