
*{
    font-family: 'DM Sans', sans-serif; ;

}

ul.menu {
    background: #F4F4F4;
    border: 1px solid #7C7C7C;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow:auto;/*esto es si queremos ver el borde de la ul xq si usas float se desaparece*/
    width:40%;
    margin-left: auto;
    margin-right: auto;
  }

  ul.menu li a {
    border: red solid 1px;
    color: #333;
    display: block;
    padding: .3em;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    float:left;/*Esto es lo q hace que los elementos de la lista se vayan para el lado izquierdo(left) del elemento */
    text-align: center;
    width:20%;
    box-sizing: border-box;
}

ul.menu li a :hover {
    border: orangered solid 1px;
    color: greenyellow;
   
}