    <div class="inner">
        <section>
            <h2>Contáctame</h2>
            <ul id="contacto" class="icons">

                <li><a href="http://wa.me/34628840747" target="_blank"
                        class="icon brands style2 fa-whatsapp"><span class="label">Whatsapp</span></a></li>
                <li><a href="https://www.linkedin.com/in/sylviall81/" target="_blank"
                        class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/Sylviall81" target="_blank"
                        class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="tel:+34628840747" target="_blank" class="icon solid style2 fa-phone"><span
                            class="label">Phone</span></a></li>
                <li><a href="mailto:sylviall81@gmail.com" target="_blank"
                        class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </section>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
