*{
    text-decoration: none;
    font-family: 'DM Sans', sans-serif; 
}


.nav-menu{ 
    list-style-type: none;
    width:45%;
    overflow: auto;
    margin-left:auto ;
    margin-right: auto;


}

.nav-button{
    /* float: left; */
    text-align: center;
    width:20%;
    background-color: lightskyblue;
    border: black 1px solid;
    box-sizing: border-box;
    color: navy;
    display: inline-block; 
    margin-right: -5px;
    
   
}

.nav-button a{
    color:black;
}

.nav-button:hover{
    background-color: silver;
    color: navy;
}


.main-title{
    margin-left: auto;
    margin-right: auto;
    color:navy;
    text-align: center;
}

.home-button{
    display:block;
    background-color: lightskyblue;
    color: white;
    border-radius: 15px;
    width: 6%;
    text-align: center;
    font-size: 1.5em;
    height: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.nav-button.active{
    background-color: navy;
    
  }

  .nav-button.active a{
    color: white;

  } 