
.circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    color:white;
}

.main-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	/* height: 100vh; */
	justify-content: center;
    border: solid black 1px;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}
#blue{
    background-color: navy;
}

#black{
    background-color: black;
    
}

@media all and (min-width:768px){

    .main-container{
        width:400px;
        margin: 15% auto;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

}

@media all and (min-width:868px){
        .main-container{

            width: 800px;
            
        }
    } 